.video-converter
{
    position: relative;
}

.video-converter .video-converter__description
{
    margin-bottom: 24px;
}

.video-converter .video-converter__input-file
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none;
    cursor: inherit;
    display: block;
}

.video-converter .video-converter__overlay-loading 
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(91, 91, 91, 0.26);
    z-index: 150;
    top: 0;
    left: 0;
    display: none;
}

.video-converter .video-converter__overlay-loading:before 
{
    content: "";
    position: absolute;
    background-image: url("/Images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-converter .video-converter__overlay-loading.video-converter__overlay-loading--show 
{
    display: block;
}

.video-converter .video-converter__file-container
{
    position: relative;
    display: inline-block;
}

.video-converter .video-converter__dowmload-video 
{
    display: none;
}

.video-converter .video-converter__email {
    padding: 5px;
    margin-right: 16px;
    width: 240px;
}